.container{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
}
.hero{
    background-image: url(./img/hero-bg.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 1072px;
    padding-top: 285px;
    text-align: center;
    color: #ffffff;
}
.hero__info{
    max-width:40%;
    margin: 0 auto;
    padding-bottom: 5%;
    font-size: 1.4rem;
}
.hero__logo{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    fill: #ffffff;
    stroke: #fff;
}
.title{
    font-weight: 700;
    color: inherit;
    text-align: center;
}
.hero__title{
    font-size: 3.3rem;
    text-transform: uppercase;
    margin-top: 10%;
    margin-bottom: 5%;
    animation: grow 2s ease 1;
  }
  @keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
.info__text{
    font-weight: 300;
    color: inherit;
    margin-top: 35px;
    font-size: 1.4rem;
}
.hero__text{
    font-weight: 400;
    color: inherit; 
    text-transform: uppercase;
}
.scroll{
    margin-top: 40%;
    font-size: 3rem;
}
.scroll:hover {
    transform: scale(1.1 1.1);
    animation: mi 1s ease infinite;
  }
  @keyframes mi {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }
.info{
    max-width:75%;
    margin: 100px auto;
    text-align: center;
    padding: 5% 15%;
    border-bottom: 1px solid #3c3c3c;
    border-right: 1px solid  #3c3c3c;
    border-left: 1px solid  #3c3c3c;
    border-top: none;
    position: relative;
}
.info:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 30%;
    background-color:#3c3c3c;
}
.info:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    width: 30%;
    background-color: #3c3c3c;
}
.About-Us{
    color:#3c3c3c;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: translate(0, -300%);
}
.services{
    background-image: url(./img/services.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding-top: 3%;
    padding-bottom: 3%;
}
.services__info{
    border-bottom: 1px solid  #ffffff;
    border-right: 1px solid  #ffffff;
    border-left: 1px solid  #ffffff;
    border-top: none;
    position: relative;
}
.services__section-title{
    background-color: transparent;
}
.services__info:before{
       background-color: #ffffff;
}
.services__info:after{
    background-color: #ffffff;
}
.what-we-do{
    color: #3c3c3c;
}
.what-we-do__list{
    list-style: none;
}
.what-we-do__item{
    margin-top: 5%;
}
.item-title{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.icon{
    font-size: 5.2rem;
}
.icon:hover{
    color: turquoise;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px 8px;
}
.works__img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.works{
    position: relative;
    z-index: 0;
}
.works:hover {
    animation: hithere 1s ease 1;
    z-index: 2;
  }
  @keyframes hithere {
    30% { transform: scale(1); }
    40%, 60% { transform: rotate(-20deg) scale(0.9); }
    50% { transform: rotate(20deg) scale(0.9); }
    70% { transform: rotate(0deg) scale(0.9); }
    100% { transform: scale(1); }
  }
.works__title{
    position: absolute;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    z-index: 1;
    bottom: 5%;
    left: 4%;
    text-transform: uppercase;
}
.contact{
    color: #3c3c3c;
}
.contact__btn{
    width: 80%;
    height: 5rem;
    border: 2px solid #3c3c3c;
    background-color: #3c3c3c;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Lato;
    margin-top: 5%;
    cursor: pointer;
    font-size: 2rem;
}
.contact__btn:hover{
    border: 2px solid #3c3c3c;
    background-color: #fff;
    color: #3c3c3c;
}
.footer{
    color: #3c3c3c;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 5%;
}
.footer__logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 30px;
    fill: #000000;
    stroke: #000000;
}
@media screen and (max-width: 1440px){
    .section-title{
        transform: translate(0, -200%);
    }
    .container{
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px){
    .section-title{
        font-size: 2.2rem;
    }
    .container{
        font-size: 15px;
    }
    .works__title{
        font-size: 2rem;}
    .contact__btn{
        height: 3rem;
        font-size: 1rem;
    }
    .footer{
        font-size: 1rem;}
    }
@media screen and (max-width: 768px) {
    .container{
        font-size: 12px;}
    .hero{
        min-height: 600px;
        padding-top: 185px;
    }
    .layout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    .hero__info{
       padding-bottom: 5%;
    }
    .section-title{
        transform: translate(0, -150%);
    }
    .icon{
        font-size: 3rem;
    }
}
@media screen and (max-width: 425px){
    .hero__info{
        max-width:60%;}
    .layout{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4px;
    }
    .info{
        max-width:75%;
        margin: 100px auto;
        text-align: center;
        padding: 5% 5%;}
    .section-title{
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        transform: translate(0, -120%);
    }
    .info:before{
        width: 20%;
    }
    .info:after{
        width: 20%;
    
    }
}
@media screen and (max-width: 320px){
    .container{
        font-size: 9px;}
    .hero__info{
        max-width:90%;}
        .info:before{
            width: 15%;
        }
        .info:after{
            width: 15%;
        }
}

